AnimateTheme {
    name: "Dark";
    author: "DeMineArchiver";
    
}

AnimatePalette {
    text: #e3e3e3;
    background: #333333;

    text-button-hover: #262626;
    text-button-focus: #e3e3e3;


    background-hover: #e3e3e3;
    background-focus: #1573e6;
}